.list-element {
  width: 70%;
  background-color: var(--lightest);
  margin: 1rem 0;
  padding: 1.25rem;

  &--border {
    border-style: solid;
    border-width: var(--boder-width-m) var(--boder-width-m);
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(0 0 0 / 30%);
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--button-container {
      display: flex;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 360px) {
  .list-element {
    width: 70%;
  }
}

@media only screen and (max-width: 720px) {
  .list-element {
    width: 70%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1280px) {
  .list-element {
    width: 60%;
  }
}

@media only screen and (min-width: 1280px) {
  .list-element {
    width: 50%;
  }
}
