/* stylelint-disable selector-class-pattern */
.list-element {
  width: 70%;
  background-color: var(--lightest);
  margin: 1rem 0;
  padding: 1.25rem;
}

.list-element__border {
  border-style: solid;
  border-width: var(--boder-width-m) var(--boder-width-m);
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 30%);
}

.list-element__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-element__div--button-container {
  display: flex;
  align-items: center;
}

.list-element__div--edit-Element {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: solid 1px var(--darkest);
}

.list-element__input {
  background-color: var(--light);
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 1rem;
}
