.button {
  background-color: var(--lightest);
  margin: 0.25rem 0.5rem;
  width: 1.5rem;
  height: 1.5rem;

  &--rounded {
    background-color: var(--yellow-dark);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    @media only screen and (min-width: 721px) {
      right: 3rem;
      bottom: 3rem;
    }
  }

  &--border {
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--padding {
      padding: 1.25rem;
    }

    &--larger {
      img {
        width: 2rem;
      }
    }
  }
}
