:root {
  /* Colors */
  --lightest: #fff;
  --light: #f0f0f0;
  --medium: #83787b;
  --dark: #5f575a;
  --darker: #242526;
  --darkest: #000;
  --yellow-light: #fff477;
  --yellow-medium: #ffed00;
  --yellow-dark: #fce800;
  --darkest-transparent: rgb(0 0 0 / 15%);

  /* Border */
  --border-width-s: 1px;
  --boder-width-m: 2px;
  --border-width-l: 3px;

  /* Font */
  --ff: "Inter", sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fs-s: 12px;
  --fs-m: 14px;
  --fs-l: 32px;
  --text-shadow-light: 5px 2px 0 var(--lightest);

  /* Media Query Formats */
  --mobile: 360px;
  --tablet: 720px;
  --desktop: 1280px;
}

/* ############################################################################ */

/* Base Styling */
body {
  font-family: var(--ff);
  font-size: var(--fs-m);
}

header {
  background-image: linear-gradient(var(--yellow-dark), var(--yellow-light));
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
}

h1 {
  font-weight: var(--fw-bold);
  color: var(--dark);
  text-shadow: var(--text-shadow-light);
  font-size: 3rem;
  padding-left: 2rem;
}

ul {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 1.5rem;
}
