:root {
  /* Colors */
  --lightest: #fff;
  --light: #f6f6f6;
  --medium: #83787b;
  --dark: #5f575a;
  --darkest: #000;
  --yellow-light: #fff477;
  --yellow-medium: #ffed00;
  --yellow-dark: #fce800;
  --darkest-transparent: rgb(0 0 0 / 15%);

  /* Spacing */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --s: 0.75rem;
  --m: 1rem;
  --l: 1.25rem;
  --xl: 1.5rem;
  --xxl: 2rem;
  --xxxl: 3rem;
  --xxxxl: 4rem;

  /* Border */
  --border-width-s: 1px;
  --boder-width-m: 2px;
  --border-width-l: 3px;

  /* Font */
  --ff: "Inter", sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fs-s: 12px;
  --fs-m: 14px;
  --fs-l: 32px;
  --text-shadow-light: 5px 2px 0 var(--lightest);
}

/* ############################################################################ */

/* Base Styling */
body {
  font-family: var(--ff);
  font-size: var(--fs-m);
}

header {
  background-image: linear-gradient(var(--yellow-dark), var(--yellow-light));
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
}

h1 {
  font-weight: var(--fw-bold);
  color: var(--dark);
  text-shadow: var(--text-shadow-light);
  font-size: 3rem;
  padding-left: 2rem;
}

ul {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: solid 2px black;
  flex-grow: 1;
}

#open-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 3rem;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
}

/* ############################################################################ */

/* Classes */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkest-transparent);
}

/* so schreibe ich
.modal {
  &__button {
    &--close {

    }
  }
}

so soll postcss es mir danach zusammen schustern
.modal__button--close {
} */

.modal-content {
  background-color: var(--lightest);
  padding: 20px;
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

/* ############################################################################ */

/* Media Querys */
